#css21-inline-block ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#css21-inline-block li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 10px;
}
#css3-border-radius .test-1 {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}
#css3-border-radius .test-2 {
  -webkit-border-radius: 40px 0 0 0;
  -moz-border-radius: 40px 0 0 0;
  border-radius: 40px 0 0 0;
}
#css3-box-shadow .test-1 {
  -webkit-box-shadow: 0 0 20px #ff0000;
  -moz-box-shadow: 0 0 20px #ff0000;
  box-shadow: 0 0 20px #ff0000;
}
#css3-box-shadow .test-2 {
  -webkit-box-shadow: inset 0 0 20px #ff0000;
  -moz-box-shadow: inset 0 0 20px #ff0000;
  box-shadow: inset 0 0 20px #ff0000;
}
#css3-box-shadow .test-3 {
  -webkit-box-shadow: 0 0 20px #ff0000, inset 0 0 20px #0000ff;
  -moz-box-shadow: 0 0 20px #ff0000, inset 0 0 20px #0000ff;
  box-shadow: 0 0 20px #ff0000, inset 0 0 20px #0000ff;
}
#css3-box-sizing .control-1,
#css3-box-sizing .test-1 {
  height: 40px;
  border-width: 2px;
}
#css3-box-sizing .control-1 {
  width: 296px;
}
#css3-box-sizing .test-1 {
  width: 300px;
  padding-left: 40px;
  padding-right: 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
